#maps {
  height: 70vh;
  width: 100%;
  margin-bottom: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#mapsvg {
  margin: auto;
  width: 20rem;
  text-align: center;
}

.intromap {
  display: flex;
  justify-content: center;
  margin: 20px;
}
